body {
display: flex;
justify-content: center;
align-items: center;
height: 100vh;
margin: 0;

}


.calc {
background-color: gray;
width: 250px;
height: 400px;
}



.display {
    display: flex;
    justify-content: flex-end;
    padding-bottom: 5px;
    
}